<div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="vm.filter.accepted" ng-click="vm.getSubmissionDetails()">Accepted</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="vm.filter.skipped" ng-click="vm.getSubmissionDetails()">Skipped</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="vm.filter.memory" ng-click="vm.getSubmissionDetails()">Memory / Time limit exceeded</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="vm.filter.runtime" ng-click="vm.getSubmissionDetails()">Runtime / Compilation error</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" ng-model="vm.filter.wrong" ng-click="vm.getSubmissionDetails()">Wrong answer</label>
  </div>
</div>